:root {
/* Light */
--mdui-color-primary-light: 11, 87, 208;					/* #0b57d0 */
--mdui-color-surface-tint-color-light: 105, 145, 214;		/* #6991d6 */
--mdui-color-on-primary-light: 255, 255, 255;				/* #fff */
--mdui-color-primary-container-light: 211, 227, 253;		/* #d3e3fd */
--mdui-color-on-primary-container-light: 4, 30, 73;			/* #041e49 */
--mdui-color-secondary-light: 0, 99, 155;					/* #00639b */
--mdui-color-on-secondary-light: 255, 255, 255;				/* #fff */
--mdui-color-secondary-container-light: 194, 231, 255;		/* #c2e7ff */
--mdui-color-on-secondary-container-light: 0, 29, 53;		/* #001d35 */
--mdui-color-tertiary-light: 11, 87, 208;					/* #0b57d0 */
--mdui-color-on-tertiary-light: 255, 255, 255;				/* #fff */
--mdui-color-tertiary-container-light: 211, 227, 253;		/* #d3e3fd */
--mdui-color-on-tertiary-container-light: 4, 30, 73;		/* #041e49 */
--mdui-color-error-light: 179, 38, 30;						/* #b3261e */
--mdui-color-on-error-light: 255, 255, 255;					/* #fff */
--mdui-color-error-container-light: 249, 222, 220;			/* #f9dedc */
--mdui-color-on-error-container-light: 65, 14, 11;			/* #410e0b */
--mdui-color-background-light: 255, 255, 255;				/* #fff */
--mdui-color-on-background-light: 31, 31, 31;				/* #1f1f1f */
--mdui-color-surface-light: 255, 255, 255;					/* #fff */
--mdui-color-on-surface-light: 31, 31, 31;					/* #1f1f1f */
--mdui-color-surface-variant-light: 225, 227, 225;			/* #e1e3e1 */
--mdui-color-on-surface-variant-light: 68, 71, 70;			/* #444746 */
--mdui-color-outline-light: 116, 119, 117;					/* #747775 */
--mdui-color-outline-variant-light: 196, 199, 197;			/* #c4c7c5 */
--mdui-color-shadow-light: 0, 0, 0;							/* #000 */
--mdui-color-scrim-light: 0, 0, 0;							/* #000 */
--mdui-color-inverse-surface-light: 48, 48, 48;				/* #303030 */
--mdui-color-inverse-on-surface-light: 242, 242, 242;		/* #f2f2f2 */
--mdui-color-inverse-primary-light: 168, 199, 250;			/* #a8c7fa */
--mdui-color-surface-dim-light: 211, 219, 229;				/* #d3dbe5 */
--mdui-color-surface-bright-light: 255, 255, 255;			/* #fff */
--mdui-color-surface-container-lowest-light: 255, 255, 255;	/* #fff */
--mdui-color-surface-container-low-light: 248, 250, 253;	/* #f8fafd */
--mdui-color-surface-container-light: 240, 244, 249;		/* #f0f4f9 */
--mdui-color-surface-container-high-light: 233, 238, 246;	/* #e9eef6 */
--mdui-color-surface-container-highest-light: 221, 227, 234;/* #dde3ea */

/* Dark */
--mdui-color-primary-dark: 168, 199, 250;					/* #a8c7fa */
--mdui-color-surface-tint-color-dark: 209, 225, 255;		/* #d1e1ff */
--mdui-color-on-primary-dark: 6, 46, 111;					/* #062e6f */
--mdui-color-primary-container-dark: 8, 66, 160;			/* #0842a0 */
--mdui-color-on-primary-container-dark: 211, 227, 253;		/* #d3e3fd */
--mdui-color-secondary-dark: 127, 207, 255;					/* #7fcfff */
--mdui-color-on-secondary-dark: 0, 51, 85;					/* #035 */
--mdui-color-secondary-container-dark: 0, 74, 119;			/* #004a77 */
--mdui-color-on-secondary-container-dark: 194, 231, 255;	/* #c2e7ff */
--mdui-color-tertiary-dark: 168, 199, 250;					/* #a8c7fa */
--mdui-color-on-tertiary-dark: 6, 46, 111;					/* #062e6f */
--mdui-color-tertiary-container-dark: 8, 66, 160;			/* #0842a0 */
--mdui-color-on-tertiary-container-dark: 211, 227, 253;		/* #d3e3fd */
--mdui-color-error-dark: 242, 184, 181;						/* #f2b8b5 */
--mdui-color-on-error-dark: 96, 20, 16;						/* #601410 */
--mdui-color-error-container-dark: 140, 29, 24;				/* #8c1d18 */
--mdui-color-on-error-container-dark: 249, 222, 220;		/* #f9dedc */
--mdui-color-background-dark: 31, 31, 31;					/* #1f1f1f */
--mdui-color-on-background-dark: 227, 227, 227;				/* #e3e3e3 */
--mdui-color-surface-dark: 31, 31, 31;						/* #1f1f1f */
--mdui-color-on-surface-dark: 227, 227, 227;				/* #e3e3e3 */
--mdui-color-surface-variant-dark: 68, 71, 70;				/* #444746 */
--mdui-color-on-surface-variant-dark: 196, 199, 197;		/* #c4c7c5 */
--mdui-color-outline-dark: 142, 145, 143;					/* #8e918f */
--mdui-color-outline-variant-dark: 68, 71, 70;				/* #444746 */
--mdui-color-shadow-dark: 0, 0, 0;							/* #000 */
--mdui-color-scrim-dark: 0, 0, 0;							/* #000 */
--mdui-color-inverse-surface-dark: 227, 227, 227;			/* #e3e3e3 */
--mdui-color-inverse-on-surface-dark: 48, 48, 48;			/* #303030 */
--mdui-color-inverse-primary-dark: 11, 87, 208;				/* #0b57d0 */
--mdui-color-surface-dim-dark: 19, 19, 19;					/* #131313 */
--mdui-color-surface-bright-dark: 55, 57, 59;				/* #37393b */
--mdui-color-surface-container-lowest-dark: 14, 14, 14;		/* #0e0e0e */
--mdui-color-surface-container-low-dark: 27, 27, 27;		/* #1b1b1b */
--mdui-color-surface-container-dark: 30, 31, 32;			/* #1e1f20 */
--mdui-color-surface-container-high-dark: 40, 42, 44;		/* #282a2c */
--mdui-color-surface-container-highest-dark: 51, 53, 55;	/* #333537 */
}
