:root {
	--mdui-color-primary-light: 78,91,146;
	--mdui-color-surface-tint-color-light: 78,91,146;
	--mdui-color-on-primary-light: 255,255,255;
	--mdui-color-primary-container-light: 221,225,255;
	--mdui-color-on-primary-container-light: 54,68,121;
	--mdui-color-secondary-light: 90,93,114;
	--mdui-color-on-secondary-light: 255,255,255;
	--mdui-color-secondary-container-light: 222,225,249;
	--mdui-color-on-secondary-container-light: 66,70,89;
	--mdui-color-tertiary-light: 117,84,111;
	--mdui-color-on-tertiary-light: 255,255,255;
	--mdui-color-tertiary-container-light: 255,215,244;
	--mdui-color-on-tertiary-container-light: 92,61,86;
	--mdui-color-error-light: 186,26,26;
	--mdui-color-on-error-light: 255,255,255;
	--mdui-color-error-container-light: 255,218,214;
	--mdui-color-on-error-container-light: 147,0,10;
	--mdui-color-background-light: 251,248,255;
	--mdui-color-on-background-light: 26,27,33;
	--mdui-color-surface-light: 251,248,255;
	--mdui-color-on-surface-light: 26,27,33;
	--mdui-color-surface-variant-light: 226,225,236;
	--mdui-color-on-surface-variant-light: 69,70,79;
	--mdui-color-outline-light: 118,118,128;
	--mdui-color-outline-variant-light: 198,197,208;
	--mdui-color-shadow-light: 0,0,0;
	--mdui-color-scrim-light: 0,0,0;
	--mdui-color-inverse-surface-light: 47,48,54;
	--mdui-color-inverse-on-surface-light: 242,240,247;
	--mdui-color-inverse-primary-light: 183,196,255;
	--mdui-color-surface-dim-light: 219,217,224;
	--mdui-color-surface-bright-light: 251,248,255;
	--mdui-color-surface-container-lowest-light: 255,255,255;
	--mdui-color-surface-container-low-light: 244,242,250;
	--mdui-color-surface-container-light: 239,237,244;
	--mdui-color-surface-container-high-light: 233,231,239;
	--mdui-color-surface-container-highest-light: 227,225,233;

	--mdui-color-primary-dark: 183,196,255;
	--mdui-color-surface-tint-color-dark: 183,196,255;
	--mdui-color-on-primary-dark: 30,45,97;
	--mdui-color-primary-container-dark: 54,68,121;
	--mdui-color-on-primary-container-dark: 221,225,255;
	--mdui-color-secondary-dark: 194,197,221;
	--mdui-color-on-secondary-dark: 44,48,66;
	--mdui-color-secondary-container-dark: 66,70,89;
	--mdui-color-on-secondary-container-dark: 222,225,249;
	--mdui-color-tertiary-dark: 228,186,217;
	--mdui-color-on-tertiary-dark: 67,39,63;
	--mdui-color-tertiary-container-dark: 92,61,86;
	--mdui-color-on-tertiary-container-dark: 255,215,244;
	--mdui-color-error-dark: 255,180,171;
	--mdui-color-on-error-dark: 105,0,5;
	--mdui-color-error-container-dark: 147,0,10;
	--mdui-color-on-error-container-dark:255,218,214;
	--mdui-color-background-dark: 18,19,24;
	--mdui-color-on-background-dark: 227,225,233;
	--mdui-color-surface-dark: 18,19,24;
	--mdui-color-on-surface-dark: 227,225,233;
	--mdui-color-surface-variant-dark: 69,70,79;
	--mdui-color-on-surface-variant-dark: 198,197,208;
	--mdui-color-outline-dark: 144,144,154;
	--mdui-color-outline-variant-dark: 69,70,79;
	--mdui-color-shadow-dark: 0,0,0;
	--mdui-color-scrim-dark: 0,0,0;
	--mdui-color-inverse-surface-dark: 227,225,233;
	--mdui-color-inverse-on-surface-dark: 47,48,54;
	--mdui-color-inverse-primary-dark: 78,91,146;
	--mdui-color-surface-dim-dark: 18,19,24;
	--mdui-color-surface-bright-dark: 56,57,63;
	--mdui-color-surface-container-lowest-dark: 13,14,19;
	--mdui-color-surface-container-low-dark: 26,27,33;
	--mdui-color-surface-container-dark: 31,31,37;
	--mdui-color-surface-container-high-dark: 41,42,47;
	--mdui-color-surface-container-highest-dark: 52,52,58;
}

mdui-navigation-drawer,
mdui-top-app-bar {
	position: fixed !important;
}
/*
mdui-navigation-drawer::part(panel) {
	backdrop-filter: blur(1rem);
    background-color: rgba(var(--mdui-color-surface-container-low),0.75);
}
mdui-navigation-drawer::part(overlay) {
	background-color: rgba(var(--mdui-color-scrim),.5);
}
mdui-top-app-bar {
	backdrop-filter: blur(1rem);
	background-color: rgba(var(--mdui-color-surface),0.75);
}
mdui-top-app-bar[scrolling] {
	background-color: rgba(var(--mdui-color-surface-container),0.75);
}
mdui-text-field[focused]::part(label) {
	background-color: transparent;
	background: linear-gradient(180deg, transparent 48%, rgb(var(--mdui-color-background)) 50%, rgb(var(--mdui-color-background)) 63%, transparent 65%);
	text-shadow: 0px 0px 2px rgb(var(--mdui-color-background));
}
*/
@media only screen and (min-width: 993px)  {
	#text-artikelbenamning {
		--mdui-typescale-body-large-size: 2rem !important;
		--mdui-typescale-body-large-line-height: 3rem !important;
	}
}

/*
#text-artikelbenamning::part(input) {
	font-family: "Roboto Mono", monospace;
}
*/

mdui-tooltip[variant=rich]::part(content) {
	font-size: var(--mdui-typescale-body-small-size);
	font-weight: var(--mdui-typescale-body-small-weight);
	letter-spacing: var(--mdui-typescale-body-small-tracking);
	line-height: var(--mdui-typescale-body-small-line-height);
}

.elevated mdui-text-field,
.elevated mdui-select {
	--mdui-color-background: var(--mdui-color-surface-container-low);
}
