mdui-navigation-drawer,
mdui-top-app-bar {
	position: fixed !important;
}

/*
mdui-top-app-bar-title::part(label),
mdui-dialog::part(headline) {
	font-family: 'Roboto Condensed', system-ui, "Segoe UI", Helvetica, Arial, sans-serif;
}
*/

/*
html.mdui-theme-light mdui-top-app-bar {
	--mdui-color-surface: var(--mdui-color-surface-container-light);
	--mdui-color-surface-container: var(--mdui-color-surface-container-high-light);
}
html.mdui-theme-dark mdui-top-app-bar {
	--mdui-color-surface: var(--mdui-color-surface-container-dark);
	--mdui-color-surface-container: var(--mdui-color-surface-container-high-dark);
}
*/

@media only screen and (min-width: 993px)  {
	#text-artikelbenamning {
		--mdui-typescale-body-large-size: 2rem !important;
		--mdui-typescale-body-large-line-height: 3rem !important;
	}
}

/*
#text-artikelbenamning::part(input) {
	font-family: "Roboto Mono", monospace;
}
*/

/*
mdui-tooltip[variant=rich]::part(content) {
	font-size: var(--mdui-typescale-body-small-size);
	font-weight: var(--mdui-typescale-body-small-weight);
	letter-spacing: var(--mdui-typescale-body-small-tracking);
	line-height: var(--mdui-typescale-body-small-line-height);
}
*/

/* make label background on outlined text fields match background */
/*
.elevated mdui-text-field,
.elevated mdui-select {
	--mdui-color-background: var(--mdui-color-surface-container);
}
*/
