@charset "UTF-8";

:root, .navy {
--mdui-color-primary-light: 63,95,144;
--mdui-color-surface-tint-color-light: 63,95,144;
--mdui-color-on-primary-light: 255,255,255;
--mdui-color-primary-container-light: 214,227,255;
--mdui-color-on-primary-container-light: 38,71,119;
--mdui-color-secondary-light: 85,95,113;
--mdui-color-on-secondary-light: 255,255,255;
--mdui-color-secondary-container-light: 217,227,249;
--mdui-color-on-secondary-container-light: 62,71,88;
--mdui-color-tertiary-light: 111,86,117;
--mdui-color-on-tertiary-light: 255,255,255;
--mdui-color-tertiary-container-light: 249,216,254;
--mdui-color-on-tertiary-container-light: 86,62,92;
--mdui-color-error-light: 186,26,26;
--mdui-color-on-error-light: 255,255,255;
--mdui-color-error-container-light: 255,218,214;
--mdui-color-on-error-container-light: 147,0,10;
--mdui-color-background-light: 249,249,255;
--mdui-color-on-background-light: 25,28,32;
--mdui-color-surface-light: 249,249,255;
--mdui-color-on-surface-light: 25,28,32;
--mdui-color-surface-variant-light: 224,226,236;
--mdui-color-on-surface-variant-light: 67,71,78;
--mdui-color-outline-light: 116,119,127;
--mdui-color-outline-variant-light: 196,198,207;
--mdui-color-shadow-light: 0,0,0;
--mdui-color-scrim-light: 0,0,0;
--mdui-color-inverse-surface-light: 46,48,53;
--mdui-color-inverse-on-surface-light: 240,240,247;
--mdui-color-inverse-primary-light: 169,199,255;
--mdui-color-primary-fixed-light: 214,227,255;
--mdui-color-on-primary-fixed-light: 0,27,61;
--mdui-color-primary-fixed-dim-light: 169,199,255;
--mdui-color-on-primary-fixed-variant-light: 38,71,119;
--mdui-color-secondary-fixed-light: 217,227,249;
--mdui-color-on-secondary-fixed-light: 18,28,43;
--mdui-color-secondary-fixed-dim-light: 189,199,220;
--mdui-color-on-secondary-fixed-variant-light: 62,71,88;
--mdui-color-tertiary-fixed-light: 249,216,254;
--mdui-color-on-tertiary-fixed-light: 40,19,47;
--mdui-color-tertiary-fixed-dim-light: 220,188,225;
--mdui-color-on-tertiary-fixed-variant-light: 86,62,92;
--mdui-color-surface-dim-light: 217,217,224;
--mdui-color-surface-bright-light: 249,249,255;
--mdui-color-surface-container-lowest-light: 255,255,255;
--mdui-color-surface-container-low-light: 243,243,250;
--mdui-color-surface-container-light: 237,237,244;
--mdui-color-surface-container-high-light: 231,232,238;
--mdui-color-surface-container-highest-light: 226,226,233;
--mdui-color-primary-dark: 169,199,255;
--mdui-color-surface-tint-color-dark: 169,199,255;
--mdui-color-on-primary-dark: 7,48,95;
--mdui-color-primary-container-dark: 38,71,119;
--mdui-color-on-primary-container-dark: 214,227,255;
--mdui-color-secondary-dark: 189,199,220;
--mdui-color-on-secondary-dark: 39,49,65;
--mdui-color-secondary-container-dark: 62,71,88;
--mdui-color-on-secondary-container-dark: 217,227,249;
--mdui-color-tertiary-dark: 220,188,225;
--mdui-color-on-tertiary-dark: 62,40,69;
--mdui-color-tertiary-container-dark: 86,62,92;
--mdui-color-on-tertiary-container-dark: 249,216,254;
--mdui-color-error-dark: 255,180,171;
--mdui-color-on-error-dark: 105,0,5;
--mdui-color-error-container-dark: 147,0,10;
--mdui-color-on-error-container-dark: 255,218,214;
--mdui-color-background-dark: 17,19,24;
--mdui-color-on-background-dark: 226,226,233;
--mdui-color-surface-dark: 17,19,24;
--mdui-color-on-surface-dark: 226,226,233;
--mdui-color-surface-variant-dark: 67,71,78;
--mdui-color-on-surface-variant-dark: 196,198,207;
--mdui-color-outline-dark: 142,144,153;
--mdui-color-outline-variant-dark: 67,71,78;
--mdui-color-shadow-dark: 0,0,0;
--mdui-color-scrim-dark: 0,0,0;
--mdui-color-inverse-surface-dark: 226,226,233;
--mdui-color-inverse-on-surface-dark: 46,48,53;
--mdui-color-inverse-primary-dark: 63,95,144;
--mdui-color-primary-fixed-dark: 214,227,255;
--mdui-color-on-primary-fixed-dark: 0,27,61;
--mdui-color-primary-fixed-dim-dark: 169,199,255;
--mdui-color-on-primary-fixed-variant-dark: 38,71,119;
--mdui-color-secondary-fixed-dark: 217,227,249;
--mdui-color-on-secondary-fixed-dark: 18,28,43;
--mdui-color-secondary-fixed-dim-dark: 189,199,220;
--mdui-color-on-secondary-fixed-variant-dark: 62,71,88;
--mdui-color-tertiary-fixed-dark: 249,216,254;
--mdui-color-on-tertiary-fixed-dark: 40,19,47;
--mdui-color-tertiary-fixed-dim-dark: 220,188,225;
--mdui-color-on-tertiary-fixed-variant-dark: 86,62,92;
--mdui-color-surface-dim-dark: 17,19,24;
--mdui-color-surface-bright-dark: 55,57,62;
--mdui-color-surface-container-lowest-dark: 12,14,19;
--mdui-color-surface-container-low-dark: 25,28,32;
--mdui-color-surface-container-dark: 29,32,36;
--mdui-color-surface-container-high-dark: 40,42,47;
--mdui-color-surface-container-highest-dark: 51,53,58;
}

.purple {
--mdui-color-primary-light: 107,83,140; 
--mdui-color-surface-tint-color-light: 107,83,140; 
--mdui-color-on-primary-light: 255,255,255; 
--mdui-color-primary-container-light: 237,220,255; 
--mdui-color-on-primary-container-light: 82,60,115; 
--mdui-color-secondary-light: 100,90,112; 
--mdui-color-on-secondary-light: 255,255,255; 
--mdui-color-secondary-container-light: 235,221,247; 
--mdui-color-on-secondary-container-light: 76,67,87; 
--mdui-color-tertiary-light: 127,82,91; 
--mdui-color-on-tertiary-light: 255,255,255; 
--mdui-color-tertiary-container-light: 255,217,223; 
--mdui-color-on-tertiary-container-light: 101,59,68; 
--mdui-color-error-light: 186,26,26; 
--mdui-color-on-error-light: 255,255,255; 
--mdui-color-error-container-light: 255,218,214; 
--mdui-color-on-error-container-light: 147,0,10; 
--mdui-color-background-light: 255,247,255; 
--mdui-color-on-background-light: 29,26,32; 
--mdui-color-surface-light: 255,247,255; 
--mdui-color-on-surface-light: 29,26,32; 
--mdui-color-surface-variant-light: 232,224,235; 
--mdui-color-on-surface-variant-light: 74,69,78; 
--mdui-color-outline-light: 123,117,127; 
--mdui-color-outline-variant-light: 204,196,207; 
--mdui-color-shadow-light: 0,0,0; 
--mdui-color-scrim-light: 0,0,0; 
--mdui-color-inverse-surface-light: 50,47,53; 
--mdui-color-inverse-on-surface-light: 246,238,246; 
--mdui-color-inverse-primary-light: 214,187,251; 
--mdui-color-primary-fixed-light: 237,220,255; 
--mdui-color-on-primary-fixed-light: 37,14,68; 
--mdui-color-primary-fixed-dim-light: 214,187,251; 
--mdui-color-on-primary-fixed-variant-light: 82,60,115; 
--mdui-color-secondary-fixed-light: 235,221,247; 
--mdui-color-on-secondary-fixed-light: 32,24,42; 
--mdui-color-secondary-fixed-dim-light: 206,194,218; 
--mdui-color-on-secondary-fixed-variant-light: 76,67,87; 
--mdui-color-tertiary-fixed-light: 255,217,223; 
--mdui-color-on-tertiary-fixed-light: 50,16,25; 
--mdui-color-tertiary-fixed-dim-light: 242,183,194; 
--mdui-color-on-tertiary-fixed-variant-light: 101,59,68; 
--mdui-color-surface-dim-light: 223,216,224; 
--mdui-color-surface-bright-light: 255,247,255; 
--mdui-color-surface-container-lowest-light: 255,255,255; 
--mdui-color-surface-container-low-light: 249,241,249; 
--mdui-color-surface-container-light: 243,236,244; 
--mdui-color-surface-container-high-light: 237,230,238; 
--mdui-color-surface-container-highest-light: 231,224,232; 
--mdui-color-primary-dark: 214,187,251; 
--mdui-color-surface-tint-color-dark: 214,187,251; 
--mdui-color-on-primary-dark: 59,37,91; 
--mdui-color-primary-container-dark: 82,60,115; 
--mdui-color-on-primary-container-dark: 237,220,255; 
--mdui-color-secondary-dark: 206,194,218; 
--mdui-color-on-secondary-dark: 53,45,64; 
--mdui-color-secondary-container-dark: 76,67,87; 
--mdui-color-on-secondary-container-dark: 235,221,247; 
--mdui-color-tertiary-dark: 242,183,194; 
--mdui-color-on-tertiary-dark: 75,37,45; 
--mdui-color-tertiary-container-dark: 101,59,68; 
--mdui-color-on-tertiary-container-dark: 255,217,223; 
--mdui-color-error-dark: 255,180,171; 
--mdui-color-on-error-dark: 105,0,5; 
--mdui-color-error-container-dark: 147,0,10; 
--mdui-color-on-error-container-dark: 255,218,214; 
--mdui-color-background-dark: 21,18,24; 
--mdui-color-on-background-dark: 231,224,232; 
--mdui-color-surface-dark: 21,18,24; 
--mdui-color-on-surface-dark: 231,224,232; 
--mdui-color-surface-variant-dark: 74,69,78; 
--mdui-color-on-surface-variant-dark: 204,196,207; 
--mdui-color-outline-dark: 149,142,153; 
--mdui-color-outline-variant-dark: 74,69,78; 
--mdui-color-shadow-dark: 0,0,0; 
--mdui-color-scrim-dark: 0,0,0; 
--mdui-color-inverse-surface-dark: 231,224,232; 
--mdui-color-inverse-on-surface-dark: 50,47,53; 
--mdui-color-inverse-primary-dark: 107,83,140; 
--mdui-color-primary-fixed-dark: 237,220,255; 
--mdui-color-on-primary-fixed-dark: 37,14,68; 
--mdui-color-primary-fixed-dim-dark: 214,187,251; 
--mdui-color-on-primary-fixed-variant-dark: 82,60,115; 
--mdui-color-secondary-fixed-dark: 235,221,247; 
--mdui-color-on-secondary-fixed-dark: 32,24,42; 
--mdui-color-secondary-fixed-dim-dark: 206,194,218; 
--mdui-color-on-secondary-fixed-variant-dark: 76,67,87; 
--mdui-color-tertiary-fixed-dark: 255,217,223; 
--mdui-color-on-tertiary-fixed-dark: 50,16,25; 
--mdui-color-tertiary-fixed-dim-dark: 242,183,194; 
--mdui-color-on-tertiary-fixed-variant-dark: 101,59,68; 
--mdui-color-surface-dim-dark: 21,18,24; 
--mdui-color-surface-bright-dark: 59,56,62; 
--mdui-color-surface-container-lowest-dark: 16,13,18; 
--mdui-color-surface-container-low-dark: 29,26,32; 
--mdui-color-surface-container-dark: 33,30,36; 
--mdui-color-surface-container-high-dark: 44,41,47; 
--mdui-color-surface-container-highest-dark: 55,51,58; 
}

.maroon {
--mdui-color-primary-light: 140,74,95;
--mdui-color-surface-tint-color-light: 140,74,95;
--mdui-color-on-primary-light: 255,255,255;
--mdui-color-primary-container-light: 255,217,226;
--mdui-color-on-primary-container-light: 112,51,71;
--mdui-color-secondary-light: 116,86,94;
--mdui-color-on-secondary-light: 255,255,255;
--mdui-color-secondary-container-light: 255,217,226;
--mdui-color-on-secondary-container-light: 91,63,71;
--mdui-color-tertiary-light: 124,86,52;
--mdui-color-on-tertiary-light: 255,255,255;
--mdui-color-tertiary-container-light: 255,220,192;
--mdui-color-on-tertiary-container-light: 97,63,31;
--mdui-color-error-light: 186,26,26;
--mdui-color-on-error-light: 255,255,255;
--mdui-color-error-container-light: 255,218,214;
--mdui-color-on-error-container-light: 147,0,10;
--mdui-color-background-light: 255,248,248;
--mdui-color-on-background-light: 34,25,27;
--mdui-color-surface-light: 255,248,248;
--mdui-color-on-surface-light: 34,25,27;
--mdui-color-surface-variant-light: 242,221,225;
--mdui-color-on-surface-variant-light: 81,67,70;
--mdui-color-outline-light: 131,115,118;
--mdui-color-outline-variant-light: 214,194,197;
--mdui-color-shadow-light: 0,0,0;
--mdui-color-scrim-light: 0,0,0;
--mdui-color-inverse-surface-light: 56,46,48;
--mdui-color-inverse-on-surface-light: 254,237,239;
--mdui-color-inverse-primary-light: 255,177,198;
--mdui-color-primary-fixed-light: 255,217,226;
--mdui-color-on-primary-fixed-light: 58,7,28;
--mdui-color-primary-fixed-dim-light: 255,177,198;
--mdui-color-on-primary-fixed-variant-light: 112,51,71;
--mdui-color-secondary-fixed-light: 255,217,226;
--mdui-color-on-secondary-fixed-light: 43,21,28;
--mdui-color-secondary-fixed-dim-light: 227,189,198;
--mdui-color-on-secondary-fixed-variant-light: 91,63,71;
--mdui-color-tertiary-fixed-light: 255,220,192;
--mdui-color-on-tertiary-fixed-light: 46,22,0;
--mdui-color-tertiary-fixed-dim-light: 238,189,147;
--mdui-color-on-tertiary-fixed-variant-light: 97,63,31;
--mdui-color-surface-dim-light: 230,214,217;
--mdui-color-surface-bright-light: 255,248,248;
--mdui-color-surface-container-lowest-light: 255,255,255;
--mdui-color-surface-container-low-light: 255,240,242;
--mdui-color-surface-container-light: 251,234,236;
--mdui-color-surface-container-high-light: 245,228,231;
--mdui-color-surface-container-highest-light: 239,223,225;
--mdui-color-primary-dark: 255,177,198;
--mdui-color-surface-tint-color-dark: 255,177,198;
--mdui-color-on-primary-dark: 85,29,49;
--mdui-color-primary-container-dark: 112,51,71;
--mdui-color-on-primary-container-dark: 255,217,226;
--mdui-color-secondary-dark: 227,189,198;
--mdui-color-on-secondary-dark: 66,41,48;
--mdui-color-secondary-container-dark: 91,63,71;
--mdui-color-on-secondary-container-dark: 255,217,226;
--mdui-color-tertiary-dark: 238,189,147;
--mdui-color-on-tertiary-dark: 71,41,11;
--mdui-color-tertiary-container-dark: 97,63,31;
--mdui-color-on-tertiary-container-dark: 255,220,192;
--mdui-color-error-dark: 255,180,171;
--mdui-color-on-error-dark: 105,0,5;
--mdui-color-error-container-dark: 147,0,10;
--mdui-color-on-error-container-dark: 255,218,214;
--mdui-color-background-dark: 25,17,19;
--mdui-color-on-background-dark: 239,223,225;
--mdui-color-surface-dark: 25,17,19;
--mdui-color-on-surface-dark: 239,223,225;
--mdui-color-surface-variant-dark: 81,67,70;
--mdui-color-on-surface-variant-dark: 214,194,197;
--mdui-color-outline-dark: 158,140,144;
--mdui-color-outline-variant-dark: 81,67,70;
--mdui-color-shadow-dark: 0,0,0;
--mdui-color-scrim-dark: 0,0,0;
--mdui-color-inverse-surface-dark: 239,223,225;
--mdui-color-inverse-on-surface-dark: 56,46,48;
--mdui-color-inverse-primary-dark: 140,74,95;
--mdui-color-primary-fixed-dark: 255,217,226;
--mdui-color-on-primary-fixed-dark: 58,7,28;
--mdui-color-primary-fixed-dim-dark: 255,177,198;
--mdui-color-on-primary-fixed-variant-dark: 112,51,71;
--mdui-color-secondary-fixed-dark: 255,217,226;
--mdui-color-on-secondary-fixed-dark: 43,21,28;
--mdui-color-secondary-fixed-dim-dark: 227,189,198;
--mdui-color-on-secondary-fixed-variant-dark: 91,63,71;
--mdui-color-tertiary-fixed-dark: 255,220,192;
--mdui-color-on-tertiary-fixed-dark: 46,22,0;
--mdui-color-tertiary-fixed-dim-dark: 238,189,147;
--mdui-color-on-tertiary-fixed-variant-dark: 97,63,31;
--mdui-color-surface-dim-dark: 25,17,19;
--mdui-color-surface-bright-dark: 65,55,57;
--mdui-color-surface-container-lowest-dark: 20,12,14;
--mdui-color-surface-container-low-dark: 34,25,27;
--mdui-color-surface-container-dark: 38,29,31;
--mdui-color-surface-container-high-dark: 49,40,42;
--mdui-color-surface-container-highest-dark: 60,50,52;
}

.olive {
--mdui-color-primary-light: 138,80,33;
--mdui-color-surface-tint-color-light: 138,80,33;
--mdui-color-on-primary-light: 255,255,255;
--mdui-color-primary-container-light: 255,220,197;
--mdui-color-on-primary-container-light: 109,57,11;
--mdui-color-secondary-light: 117,89,69;
--mdui-color-on-secondary-light: 255,255,255;
--mdui-color-secondary-container-light: 255,220,197;
--mdui-color-on-secondary-container-light: 91,65,47;
--mdui-color-tertiary-light: 94,97,53;
--mdui-color-on-tertiary-light: 255,255,255;
--mdui-color-tertiary-container-light: 228,230,174;
--mdui-color-on-tertiary-container-light: 70,73,32;
--mdui-color-error-light: 186,26,26;
--mdui-color-on-error-light: 255,255,255;
--mdui-color-error-container-light: 255,218,214;
--mdui-color-on-error-container-light: 147,0,10;
--mdui-color-background-light: 255,248,245;
--mdui-color-on-background-light: 34,26,21;
--mdui-color-surface-light: 255,248,245;
--mdui-color-on-surface-light: 34,26,21;
--mdui-color-surface-variant-light: 243,223,210;
--mdui-color-on-surface-variant-light: 82,68,59;
--mdui-color-outline-light: 132,116,106;
--mdui-color-outline-variant-light: 214,195,183;
--mdui-color-shadow-light: 0,0,0;
--mdui-color-scrim-light: 0,0,0;
--mdui-color-inverse-surface-light: 56,47,41;
--mdui-color-inverse-on-surface-light: 254,238,228;
--mdui-color-inverse-primary-light: 255,183,131;
--mdui-color-primary-fixed-light: 255,220,197;
--mdui-color-on-primary-fixed-light: 48,20,0;
--mdui-color-primary-fixed-dim-light: 255,183,131;
--mdui-color-on-primary-fixed-variant-light: 109,57,11;
--mdui-color-secondary-fixed-light: 255,220,197;
--mdui-color-on-secondary-fixed-light: 42,23,8;
--mdui-color-secondary-fixed-dim-light: 228,191,167;
--mdui-color-on-secondary-fixed-variant-light: 91,65,47;
--mdui-color-tertiary-fixed-light: 228,230,174;
--mdui-color-on-tertiary-fixed-light: 27,29,0;
--mdui-color-tertiary-fixed-dim-light: 199,202,148;
--mdui-color-on-tertiary-fixed-variant-light: 70,73,32;
--mdui-color-surface-dim-light: 231,215,206;
--mdui-color-surface-bright-light: 255,248,245;
--mdui-color-surface-container-lowest-light: 255,255,255;
--mdui-color-surface-container-low-light: 255,241,233;
--mdui-color-surface-container-light: 251,235,225;
--mdui-color-surface-container-high-light: 246,229,220;
--mdui-color-surface-container-highest-light: 240,223,214;
--mdui-color-primary-dark: 255,183,131;
--mdui-color-surface-tint-color-dark: 255,183,131;
--mdui-color-on-primary-dark: 79,37,0;
--mdui-color-primary-container-dark: 109,57,11;
--mdui-color-on-primary-container-dark: 255,220,197;
--mdui-color-secondary-dark: 228,191,167;
--mdui-color-on-secondary-dark: 66,43,27;
--mdui-color-secondary-container-dark: 91,65,47;
--mdui-color-on-secondary-container-dark: 255,220,197;
--mdui-color-tertiary-dark: 199,202,148;
--mdui-color-on-tertiary-dark: 48,51,11;
--mdui-color-tertiary-container-dark: 70,73,32;
--mdui-color-on-tertiary-container-dark: 228,230,174;
--mdui-color-error-dark: 255,180,171;
--mdui-color-on-error-dark: 105,0,5;
--mdui-color-error-container-dark: 147,0,10;
--mdui-color-on-error-container-dark: 255,218,214;
--mdui-color-background-dark: 25,18,13;
--mdui-color-on-background-dark: 240,223,214;
--mdui-color-surface-dark: 25,18,13;
--mdui-color-on-surface-dark: 240,223,214;
--mdui-color-surface-variant-dark: 82,68,59;
--mdui-color-on-surface-variant-dark: 214,195,183;
--mdui-color-outline-dark: 159,141,131;
--mdui-color-outline-variant-dark: 82,68,59;
--mdui-color-shadow-dark: 0,0,0;
--mdui-color-scrim-dark: 0,0,0;
--mdui-color-inverse-surface-dark: 240,223,214;
--mdui-color-inverse-on-surface-dark: 56,47,41;
--mdui-color-inverse-primary-dark: 138,80,33;
--mdui-color-primary-fixed-dark: 255,220,197;
--mdui-color-on-primary-fixed-dark: 48,20,0;
--mdui-color-primary-fixed-dim-dark: 255,183,131;
--mdui-color-on-primary-fixed-variant-dark: 109,57,11;
--mdui-color-secondary-fixed-dark: 255,220,197;
--mdui-color-on-secondary-fixed-dark: 42,23,8;
--mdui-color-secondary-fixed-dim-dark: 228,191,167;
--mdui-color-on-secondary-fixed-variant-dark: 91,65,47;
--mdui-color-tertiary-fixed-dark: 228,230,174;
--mdui-color-on-tertiary-fixed-dark: 27,29,0;
--mdui-color-tertiary-fixed-dim-dark: 199,202,148;
--mdui-color-on-tertiary-fixed-variant-dark: 70,73,32;
--mdui-color-surface-dim-dark: 25,18,13;
--mdui-color-surface-bright-dark: 65,55,49;
--mdui-color-surface-container-lowest-dark: 20,13,8;
--mdui-color-surface-container-low-dark: 34,26,21;
--mdui-color-surface-container-dark: 38,30,24;
--mdui-color-surface-container-high-dark: 49,40,34;
--mdui-color-surface-container-highest-dark: 60,51,45;
}

.green {
--mdui-color-primary-light: 72,103,47;
--mdui-color-surface-tint-color-light: 72,103,47;
--mdui-color-on-primary-light: 255,255,255;
--mdui-color-primary-container-light: 200,238,168;
--mdui-color-on-primary-container-light: 49,78,25;
--mdui-color-secondary-light: 86,98,75;
--mdui-color-on-secondary-light: 255,255,255;
--mdui-color-secondary-container-light: 218,231,201;
--mdui-color-on-secondary-container-light: 63,74,52;
--mdui-color-tertiary-light: 56,102,101;
--mdui-color-on-tertiary-light: 255,255,255;
--mdui-color-tertiary-container-light: 187,236,234;
--mdui-color-on-tertiary-container-light: 30,78,77;
--mdui-color-error-light: 186,26,26;
--mdui-color-on-error-light: 255,255,255;
--mdui-color-error-container-light: 255,218,214;
--mdui-color-on-error-container-light: 147,0,10;
--mdui-color-background-light: 249,250,239;
--mdui-color-on-background-light: 26,29,22;
--mdui-color-surface-light: 249,250,239;
--mdui-color-on-surface-light: 26,29,22;
--mdui-color-surface-variant-light: 224,228,214;
--mdui-color-on-surface-variant-light: 68,72,62;
--mdui-color-outline-light: 116,121,109;
--mdui-color-outline-variant-light: 196,200,186;
--mdui-color-shadow-light: 0,0,0;
--mdui-color-scrim-light: 0,0,0;
--mdui-color-inverse-surface-light: 46,49,42;
--mdui-color-inverse-on-surface-light: 240,242,231;
--mdui-color-inverse-primary-light: 173,210,142;
--mdui-color-primary-fixed-light: 200,238,168;
--mdui-color-on-primary-fixed-light: 12,32,0;
--mdui-color-primary-fixed-dim-light: 173,210,142;
--mdui-color-on-primary-fixed-variant-light: 49,78,25;
--mdui-color-secondary-fixed-light: 218,231,201;
--mdui-color-on-secondary-fixed-light: 20,30,12;
--mdui-color-secondary-fixed-dim-light: 190,203,174;
--mdui-color-on-secondary-fixed-variant-light: 63,74,52;
--mdui-color-tertiary-fixed-light: 187,236,234;
--mdui-color-on-tertiary-fixed-light: 0,32,31;
--mdui-color-tertiary-fixed-dim-light: 160,207,206;
--mdui-color-on-tertiary-fixed-variant-light: 30,78,77;
--mdui-color-surface-dim-light: 217,219,209;
--mdui-color-surface-bright-light: 249,250,239;
--mdui-color-surface-container-lowest-light: 255,255,255;
--mdui-color-surface-container-low-light: 243,245,234;
--mdui-color-surface-container-light: 237,239,228;
--mdui-color-surface-container-high-light: 231,233,222;
--mdui-color-surface-container-highest-light: 226,227,217;
--mdui-color-primary-dark: 173,210,142;
--mdui-color-surface-tint-color-dark: 173,210,142;
--mdui-color-on-primary-dark: 27,55,4;
--mdui-color-primary-container-dark: 49,78,25;
--mdui-color-on-primary-container-dark: 200,238,168;
--mdui-color-secondary-dark: 190,203,174;
--mdui-color-on-secondary-dark: 41,52,31;
--mdui-color-secondary-container-dark: 63,74,52;
--mdui-color-on-secondary-container-dark: 218,231,201;
--mdui-color-tertiary-dark: 160,207,206;
--mdui-color-on-tertiary-dark: 0,55,54;
--mdui-color-tertiary-container-dark: 30,78,77;
--mdui-color-on-tertiary-container-dark: 187,236,234;
--mdui-color-error-dark: 255,180,171;
--mdui-color-on-error-dark: 105,0,5;
--mdui-color-error-container-dark: 147,0,10;
--mdui-color-on-error-container-dark: 255,218,214;
--mdui-color-background-dark: 17,20,14;
--mdui-color-on-background-dark: 226,227,217;
--mdui-color-surface-dark: 17,20,14;
--mdui-color-on-surface-dark: 226,227,217;
--mdui-color-surface-variant-dark: 68,72,62;
--mdui-color-on-surface-variant-dark: 196,200,186;
--mdui-color-outline-dark: 142,146,134;
--mdui-color-outline-variant-dark: 68,72,62;
--mdui-color-shadow-dark: 0,0,0;
--mdui-color-scrim-dark: 0,0,0;
--mdui-color-inverse-surface-dark: 226,227,217;
--mdui-color-inverse-on-surface-dark: 46,49,42;
--mdui-color-inverse-primary-dark: 72,103,47;
--mdui-color-primary-fixed-dark: 200,238,168;
--mdui-color-on-primary-fixed-dark: 12,32,0;
--mdui-color-primary-fixed-dim-dark: 173,210,142;
--mdui-color-on-primary-fixed-variant-dark: 49,78,25;
--mdui-color-secondary-fixed-dark: 218,231,201;
--mdui-color-on-secondary-fixed-dark: 20,30,12;
--mdui-color-secondary-fixed-dim-dark: 190,203,174;
--mdui-color-on-secondary-fixed-variant-dark: 63,74,52;
--mdui-color-tertiary-fixed-dark: 187,236,234;
--mdui-color-on-tertiary-fixed-dark: 0,32,31;
--mdui-color-tertiary-fixed-dim-dark: 160,207,206;
--mdui-color-on-tertiary-fixed-variant-dark: 30,78,77;
--mdui-color-surface-dim-dark: 17,20,14;
--mdui-color-surface-bright-dark: 55,58,51;
--mdui-color-surface-container-lowest-dark: 12,15,9;
--mdui-color-surface-container-low-dark: 26,29,22;
--mdui-color-surface-container-dark: 30,33,26;
--mdui-color-surface-container-high-dark: 40,43,36;
--mdui-color-surface-container-highest-dark: 51,54,47;
}

.teal {
--mdui-color-primary-light: 49,106,65;
--mdui-color-surface-tint-color-light: 49,106,65;
--mdui-color-on-primary-light: 255,255,255;
--mdui-color-primary-container-light: 180,241,190;
--mdui-color-on-primary-container-light: 23,81,44;
--mdui-color-secondary-light: 80,99,82;
--mdui-color-on-secondary-light: 255,255,255;
--mdui-color-secondary-container-light: 211,232,211;
--mdui-color-on-secondary-container-light: 57,75,59;
--mdui-color-tertiary-light: 58,101,110;
--mdui-color-on-tertiary-light: 255,255,255;
--mdui-color-tertiary-container-light: 189,234,245;
--mdui-color-on-tertiary-container-light: 32,77,86;
--mdui-color-error-light: 186,26,26;
--mdui-color-on-error-light: 255,255,255;
--mdui-color-error-container-light: 255,218,214;
--mdui-color-on-error-container-light: 147,0,10;
--mdui-color-background-light: 246,251,243;
--mdui-color-on-background-light: 24,29,24;
--mdui-color-surface-light: 246,251,243;
--mdui-color-on-surface-light: 24,29,24;
--mdui-color-surface-variant-light: 221,229,218;
--mdui-color-on-surface-variant-light: 65,73,65;
--mdui-color-outline-light: 113,121,112;
--mdui-color-outline-variant-light: 193,201,191;
--mdui-color-shadow-light: 0,0,0;
--mdui-color-scrim-light: 0,0,0;
--mdui-color-inverse-surface-light: 45,50,45;
--mdui-color-inverse-on-surface-light: 238,242,234;
--mdui-color-inverse-primary-light: 152,212,163;
--mdui-color-primary-fixed-light: 180,241,190;
--mdui-color-on-primary-fixed-light: 0,33,12;
--mdui-color-primary-fixed-dim-light: 152,212,163;
--mdui-color-on-primary-fixed-variant-light: 23,81,44;
--mdui-color-secondary-fixed-light: 211,232,211;
--mdui-color-on-secondary-fixed-light: 14,31,18;
--mdui-color-secondary-fixed-dim-light: 183,204,183;
--mdui-color-on-secondary-fixed-variant-light: 57,75,59;
--mdui-color-tertiary-fixed-light: 189,234,245;
--mdui-color-on-tertiary-fixed-light: 0,31,37;
--mdui-color-tertiary-fixed-dim-light: 162,206,216;
--mdui-color-on-tertiary-fixed-variant-light: 32,77,86;
--mdui-color-surface-dim-light: 215,219,212;
--mdui-color-surface-bright-light: 246,251,243;
--mdui-color-surface-container-lowest-light: 255,255,255;
--mdui-color-surface-container-low-light: 241,245,237;
--mdui-color-surface-container-light: 235,239,231;
--mdui-color-surface-container-high-light: 229,234,226;
--mdui-color-surface-container-highest-light: 223,228,220;
--mdui-color-primary-dark: 152,212,163;
--mdui-color-surface-tint-color-dark: 152,212,163;
--mdui-color-on-primary-dark: 0,57,25;
--mdui-color-primary-container-dark: 23,81,44;
--mdui-color-on-primary-container-dark: 180,241,190;
--mdui-color-secondary-dark: 183,204,183;
--mdui-color-on-secondary-dark: 35,52,38;
--mdui-color-secondary-container-dark: 57,75,59;
--mdui-color-on-secondary-container-dark: 211,232,211;
--mdui-color-tertiary-dark: 162,206,216;
--mdui-color-on-tertiary-dark: 1,54,63;
--mdui-color-tertiary-container-dark: 32,77,86;
--mdui-color-on-tertiary-container-dark: 189,234,245;
--mdui-color-error-dark: 255,180,171;
--mdui-color-on-error-dark: 105,0,5;
--mdui-color-error-container-dark: 147,0,10;
--mdui-color-on-error-container-dark: 255,218,214;
--mdui-color-background-dark: 16,21,16;
--mdui-color-on-background-dark: 223,228,220;
--mdui-color-surface-dark: 16,21,16;
--mdui-color-on-surface-dark: 223,228,220;
--mdui-color-surface-variant-dark: 65,73,65;
--mdui-color-on-surface-variant-dark: 193,201,191;
--mdui-color-outline-dark: 139,147,138;
--mdui-color-outline-variant-dark: 65,73,65;
--mdui-color-shadow-dark: 0,0,0;
--mdui-color-scrim-dark: 0,0,0;
--mdui-color-inverse-surface-dark: 223,228,220;
--mdui-color-inverse-on-surface-dark: 45,50,45;
--mdui-color-inverse-primary-dark: 49,106,65;
--mdui-color-primary-fixed-dark: 180,241,190;
--mdui-color-on-primary-fixed-dark: 0,33,12;
--mdui-color-primary-fixed-dim-dark: 152,212,163;
--mdui-color-on-primary-fixed-variant-dark: 23,81,44;
--mdui-color-secondary-fixed-dark: 211,232,211;
--mdui-color-on-secondary-fixed-dark: 14,31,18;
--mdui-color-secondary-fixed-dim-dark: 183,204,183;
--mdui-color-on-secondary-fixed-variant-dark: 57,75,59;
--mdui-color-tertiary-fixed-dark: 189,234,245;
--mdui-color-on-tertiary-fixed-dark: 0,31,37;
--mdui-color-tertiary-fixed-dim-dark: 162,206,216;
--mdui-color-on-tertiary-fixed-variant-dark: 32,77,86;
--mdui-color-surface-dim-dark: 16,21,16;
--mdui-color-surface-bright-dark: 53,58,53;
--mdui-color-surface-container-lowest-dark: 11,15,11;
--mdui-color-surface-container-low-dark: 24,29,24;
--mdui-color-surface-container-dark: 28,33,28;
--mdui-color-surface-container-high-dark: 38,43,38;
--mdui-color-surface-container-highest-dark: 49,54,49;
}

mdui-navigation-drawer,
mdui-top-app-bar {
	position: fixed !important;
}

mdui-layout-main {
	z-index: 2;
}

@media only screen and (min-width: 840px)  {
	#text-artikelbenamning {
		--mdui-typescale-body-large-size: 1.5rem !important;
		--mdui-typescale-body-large-line-height: 2.25rem !important;
	}
}
@media only screen and (min-width: 1080px)  {
	#text-artikelbenamning {
		--mdui-typescale-body-large-size: 2rem !important;
		--mdui-typescale-body-large-line-height: 3rem !important;

	}
}

/*
#text-artikelbenamning::part(input) {
	font-family: "Roboto Mono",monospace;
}
*/

/* Temprary fix for mdui 2.1.4: Input counter doesn't change color when inactive */
mdui-text-field[disabled]::part(counter) {
	color: rgba(var(--mdui-color-on-surface),38%);
}

mdui-checkbox::part(label) {
	padding-left: var(--gap-8);
	font-size: var(--mdui-typescale-body-large-size);
	font-weight: var(--mdui-typescale-body-large-weight);
	letter-spacing: var(--mdui-typescale-body-large-tracking);
	line-height: var(--mdui-typescale-body-large-line-height);
}

/* Hack: make label background match background on outlined text fields */
mdui-text-field[variant=outlined],
mdui-select[variant=outlined] {
	--mdui-color-background: var(--mdui-color-surface-container-lowest);
}

/* Hack: change background color of filled text fields */
mdui-text-field[variant=filled],
mdui-select[variant=filled] {
	--mdui-color-surface-container-highest: var(--mdui-color-surface-container-low);
}