:root {
	--mdui-color-primary-light: 78,91,146;
	--mdui-color-surface-tint-color-light: 78,91,146;
	--mdui-color-on-primary-light: 255,255,255;
	--mdui-color-primary-container-light: 221,225,255;
	--mdui-color-on-primary-container-light: 54,68,121;
	--mdui-color-secondary-light: 90,93,114;
	--mdui-color-on-secondary-light: 255,255,255;
	--mdui-color-secondary-container-light: 222,225,249;
	--mdui-color-on-secondary-container-light: 66,70,89;
	--mdui-color-tertiary-light: 117,84,111;
	--mdui-color-on-tertiary-light: 255,255,255;
	--mdui-color-tertiary-container-light: 255,215,244;
	--mdui-color-on-tertiary-container-light: 92,61,86;
	--mdui-color-error-light: 186,26,26;
	--mdui-color-on-error-light: 255,255,255;
	--mdui-color-error-container-light: 255,218,214;
	--mdui-color-on-error-container-light: 147,0,10;
	--mdui-color-background-light: 251,248,255;
	--mdui-color-on-background-light: 26,27,33;
	--mdui-color-surface-light: 251,248,255;
	--mdui-color-on-surface-light: 26,27,33;
	--mdui-color-surface-variant-light: 226,225,236;
	--mdui-color-on-surface-variant-light: 69,70,79;
	--mdui-color-outline-light: 118,118,128;
	--mdui-color-outline-variant-light: 198,197,208;
	--mdui-color-shadow-light: 0,0,0;
	--mdui-color-scrim-light: 0,0,0;
	--mdui-color-inverse-surface-light: 47,48,54;
	--mdui-color-inverse-on-surface-light: 242,240,247;
	--mdui-color-inverse-primary-light: 183,196,255;
	--mdui-color-surface-dim-light: 219,217,224;
	--mdui-color-surface-bright-light: 251,248,255;
	--mdui-color-surface-container-lowest-light: 255,255,255;
	--mdui-color-surface-container-low-light: 244,242,250;
	--mdui-color-surface-container-light: 239,237,244;
	--mdui-color-surface-container-high-light: 233,231,239;
	--mdui-color-surface-container-highest-light: 227,225,233;

	--mdui-color-primary-dark: 183,196,255;
	--mdui-color-surface-tint-color-dark: 183,196,255;
	--mdui-color-on-primary-dark: 30,45,97;
	--mdui-color-primary-container-dark: 54,68,121;
	--mdui-color-on-primary-container-dark: 221,225,255;
	--mdui-color-secondary-dark: 194,197,221;
	--mdui-color-on-secondary-dark: 44,48,66;
	--mdui-color-secondary-container-dark: 66,70,89;
	--mdui-color-on-secondary-container-dark: 222,225,249;
	--mdui-color-tertiary-dark: 228,186,217;
	--mdui-color-on-tertiary-dark: 67,39,63;
	--mdui-color-tertiary-container-dark: 92,61,86;
	--mdui-color-on-tertiary-container-dark: 255,215,244;
	--mdui-color-error-dark: 255,180,171;
	--mdui-color-on-error-dark: 105,0,5;
	--mdui-color-error-container-dark: 147,0,10;
	--mdui-color-on-error-container-dark:255,218,214;
	--mdui-color-background-dark: 18,19,24;
	--mdui-color-on-background-dark: 227,225,233;
	--mdui-color-surface-dark: 18,19,24;
	--mdui-color-on-surface-dark: 227,225,233;
	--mdui-color-surface-variant-dark: 69,70,79;
	--mdui-color-on-surface-variant-dark: 198,197,208;
	--mdui-color-outline-dark: 144,144,154;
	--mdui-color-outline-variant-dark: 69,70,79;
	--mdui-color-shadow-dark: 0,0,0;
	--mdui-color-scrim-dark: 0,0,0;
	--mdui-color-inverse-surface-dark: 227,225,233;
	--mdui-color-inverse-on-surface-dark: 47,48,54;
	--mdui-color-inverse-primary-dark: 78,91,146;
	--mdui-color-surface-dim-dark: 18,19,24;
	--mdui-color-surface-bright-dark: 56,57,63;
	--mdui-color-surface-container-lowest-dark: 13,14,19;
	--mdui-color-surface-container-low-dark: 26,27,33;
	--mdui-color-surface-container-dark: 31,31,37;
	--mdui-color-surface-container-high-dark: 41,42,47;
	--mdui-color-surface-container-highest-dark: 52,52,58;
}



mio-root {
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(77, 66, 86, .08), rgba(77, 66, 86, .08));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgba(77, 66, 86, .12), rgba(77, 66, 86, .12));
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgba(28, 27, 29, .08), rgba(28, 27, 29, .08)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgba(28, 27, 29, .12), rgba(28, 27, 29, .12)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-white: 255,255,255;
    --mio-theme-color-on-background: 28,27,29;
    --mio-theme-color-background: 254,251,255;
    --mio-theme-color-on-surface: 28,27,29;
    --mio-theme-color-on-surface-variant: 77,66,86;
    --mio-theme-color-surface-0: 255,255,255;
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgb(31 25 35 / 8%), rgb(31 25 35 / 8%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgb(31 25 35 / 12%), rgb(31 25 35 / 12%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgb(77 66 86 / 8%), rgb(77 66 86 / 8%));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgb(77 66 86 / 12%), rgb(77 66 86 / 12%));
    --mio-theme-color-surface-variant: 232,224,232;
    --mio-theme-color-inverse-surface: #303030;
    --mio-theme-color-inverse-on-surface: #f5eff1;
    --mio-theme-color-primary: #6442d6;
    --mio-theme-color-primary-80: #cbbeff;
    --mio-theme-color-primary-30: #4b21bd;
    --mio-theme-color-primary-20: #340098;
    --mio-theme-color-on-primary: #fff;
    --mio-theme-color-neutral-10: #1c1b1d;
    --mio-theme-color-neutral-90: #e6e1e3;
    --mio-theme-color-primary-container: #9f86ff;
    --mio-theme-color-on-primary-container: #1e0060;
    --mio-theme-color-secondary: #5d5d74;
    --mio-theme-color-on-secondary: #fff;
    --mio-theme-color-secondary-container: #dcdaf5;
    --mio-theme-color-on-secondary-container: #21182b;
    --mio-theme-color-tertiary-container: #f1d3f9;
    --mio-theme-color-on-tertiary-container: #271430;
    --mio-theme-color-utility-error: #ff6240;
    --mio-theme-color-utility-error-variant: #ff6240;
    --mio-theme-color-utility-on-error: #490909;
    --mio-theme-color-utility-error-container: #f9dedc;
    --mio-theme-color-utility-outline: #787579;
    --mio-theme-color-utility-list-hover: rgb(31 25 35 / 8%);
    --mio-theme-color-utility-list-active: rgb(31 25 35 / 10%);
    --mio-theme-color-surface-1: #f8f1f6;
    --mio-theme-color-surface-2: #f2ecee;
    --mio-theme-color-surface-3: #ece7e9;
    --mio-theme-color-surface-4: #e6e1e3;
    --mio-theme-color-surface-5: #e6e1e3;
    --mio-theme-color-extensions-do-container: #34be4d;
    --mio-theme-color-extensions-on-do-container: #11371d;
    --mio-theme-color-extensions-dont-container: #ff6240;
    --mio-theme-color-extensions-on-dont-container: #490909;
    --mio-theme-color-extensions-caution-container: #ffce22;
    --mio-theme-color-extensions-on-caution-container: #3a2900;
    --mio-theme-color-ref-secondary-200: #c6c4de;
    --mio-theme-color-ref-secondary-300: #aaa9c2;
    --mio-theme-color-ref-neutral-100: #e6e1e3;
    --mio-theme-color-ref-neutral-200: #cac5c7;
    --mio-theme-color-scrim-video-container: rgb(31 31 31 / 64%);
    --mio-theme-color-scrim-video-control: rgb(255 255 255 / 12%);
    --mio-theme-color-scrim-video-control-pressed: rgb(255 255 255 / 24%);
    --mio-theme-color-copy-link-tooltip: #f2f2f2;
    --mio-theme-color-warning-icon: #e37402;
    --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)
}

mio-root.dark-mode {
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgba(196, 199, 197, .08), rgba(196, 199, 197, .08));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgba(196, 199, 197, .12), rgba(196, 199, 197, .12));
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgba(230, 225, 227, .08), rgba(230, 225, 227, .08)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgba(230, 225, 227, .12), rgba(230, 225, 227, .12)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-white: #fff;
    --mio-theme-color-on-background: #e6e1e3;
    --mio-theme-color-background: #141314;
    --mio-theme-color-on-surface: #e6e1e3;
    --mio-theme-color-on-surface-variant: #cbc4cc;
    --mio-theme-color-surface-0: #0f0e0f;
    --mio-theme-color-surface-variant: #4d4256;
    --mio-theme-color-inverse-surface: #e6e1e3;
    --mio-theme-color-inverse-on-surface: #323032;
    --mio-theme-color-surface-1: #1c1b1d;
    --mio-theme-color-surface-2: #211f21;
    --mio-theme-color-surface-3: #2b292b;
    --mio-theme-color-surface-4: #363436;
    --mio-theme-color-surface-5: #363436;
    --mio-theme-color-on-surface-2: linear-gradient(0deg, rgb(242 236 238 / 8%), rgb(242 236 238 / 8%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-4: linear-gradient(0deg, rgb(242 236 238 / 12%), rgb(242 236 238 / 12%)), var(--mio-theme-color-secondary-container);
    --mio-theme-color-on-surface-variant-2: linear-gradient(0deg, rgb(203 196 204 / 8%), rgb(203 196 204 / 8%));
    --mio-theme-color-on-surface-variant-4: linear-gradient(0deg, rgb(203 196 204 / 12%), rgb(203 196 204 / 12%));
    --mio-theme-color-primary: #9f86ff;
    --mio-theme-color-primary-80: #ccbeff;
    --mio-theme-color-primary-30: #4c20bd;
    --mio-theme-color-primary-20: #340097;
    --mio-theme-color-neutral-10: #1c1b1d;
    --mio-theme-color-neutral-90: #e6e1e3;
    --mio-theme-color-on-primary: #1a0056;
    --mio-theme-color-primary-container: #4b21bd;
    --mio-theme-color-on-primary-container: #e7deff;
    --mio-theme-color-secondary: #a1a1ba;
    --mio-theme-color-on-secondary: #151629;
    --mio-theme-color-secondary-container: #45455a;
    --mio-theme-color-on-secondary-container: #e2e0fb;
    --mio-theme-color-tertiary-container: #553f5d;
    --mio-theme-color-on-tertiary-container: #f7d8ff;
    --mio-theme-color-utility-error: #ff6e4e;
    --mio-theme-color-utility-error-variant: #f9dedc;
    --mio-theme-color-utility-on-error: #490909;
    --mio-theme-color-utility-error-container: #ff6240;
    --mio-theme-color-utility-outline: #928f94;
    --mio-theme-color-utility-list-hover: rgb(203 196 204 / 8%);
    --mio-theme-color-utility-list-active: rgb(203 196 204 / 10%);
    --mio-theme-color-extensions-do-container: #36c450;
    --mio-theme-color-extensions-on-do-container: #093413;
    --mio-theme-color-extensions-dont-container: #ff6e4e;
    --mio-theme-color-extensions-on-dont-container: #490909;
    --mio-theme-color-extensions-caution-container: #ffce22;
    --mio-theme-color-extensions-on-caution-container: #3a2900;
    --mio-theme-color-copy-link-tooltip: #f2f2f2;
    --mio-theme-color-code-comment-color: #727578;
    --mio-theme-color-iframe-background: #e6e5e5;
    --mio-theme-elevation-1: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 1px 3px 1px rgb(0 0 0 / 15%);
    --mio-theme-elevation-2: 0px 1px 2px 0px rgb(0 0 0 / 30%), 0px 2px 6px 2px rgb(0 0 0 / 15%);
    --mio-theme-elevation-3: 0px 1px 3px 0px rgb(0 0 0 / 30%), 0px 4px 8px 3px rgb(0 0 0 / 15%)
}

